* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(34, 34, 34);
}

#gameArea {
  width: 720px;
  height: 460px;
  border: 3px dashed white;
  background-color: rgb(61, 61, 61);
  margin: auto;
  margin-top: 250px;
}

.characterStats {
  width: 700px;
  height: 40px;
  background-color: rgb(129, 129, 129);
  margin: auto;
  margin-top: 7px;
  border: 1px solid white;
}

.characterStats .stat {
  color: #333;
  font-size: 32px;
  margin-left: 5px;
  margin-right: 5px;
}

#tavernBtn,
#dungeonBtn,
#bossBtn {
  width: 223px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: whitesmoke;
  background-color: #333;
}

#storyArea {
  background-color: rgb(129, 129, 129);
  border: 2px solid #333;
  width: 700px;
  margin-top: 20px;
  margin-left: 7px;
}

#storyArea h2 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: #333;
}

#storyArea p {
  font-size: 20px;
  font-style: oblique;
  padding: 10px;
  color: whitesmoke;
}

.highlightedText {
  color: #333;
}
